
<h1>Cars</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.year %></td>
        <td><%= car.make %></td>
        <td><%= car.model %></td>
        <td><%= car.price %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Car', new_car_path %>
